name: Cypress Tests

on: [push]
jobs:
  Cypress-Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          command: npm run ui-regression
          browser: chrome
      
      - name: Copy execution test screenshots
        if: always()
        run: |
          mkdir public
          cp -r cypress/screenshots public/screenshots

      - name: Copy test execution videos
        if: always()
        run: |
          mkdir public
          cp -r cypress/videos public/videos

      - name: Merge test results into one
        if: always()
        run: npm run report:merge

      - name: Generate HTML report
        if: always()
        run: npm run report:generate

      - name: Deploy report page
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
